{% from "components/tabla.html" import tabla %}
{% from "components/navbar_secundaria.html" import navbar_secundaria %}

{% extends "layouts/base.html" %}

{% block title %}Ecuestre documentos{% endblock %}

{% block main %}

{{ navbar_secundaria({
'volver': url_for('ecuestre.listar'),
'tabs': [
{'nombre': 'Información general', 'url': url_for('ecuestre.ver', id=ecuestre.id)},
{'nombre': 'Documentos', 'url': url_for('ecuestre.documentos', id=ecuestre.id)}
]})}}


{% set configuracion = {

'encabezados': [
{'id': 'nombre', 'nombre': 'Nombre', 'ordenar': True},
{'id': 'fecha', 'nombre': 'Fecha', 'ordenar': True},
{'id': 'tipo', 'nombre': 'Tipo'},
],
'acciones': [
{'nombre': 'Ir al documento', 'funcion': 'irAlDocumento', 'condicion': ['archivo_externo', True]},
{'nombre': 'Descargar', 'funcion': 'descargarDocumento', 'condicion': ['archivo_externo', False]},
{'nombre': 'Editar', 'funcion': 'editarDocumento'} if tiene_permiso(session, 'ecuestre_actualizar') else False,
{'nombre': 'Eliminar','funcion': 'eliminarDocumento'} if tiene_permiso(session, 'ecuestre_eliminar') else False
],
'filtros': [
{'id': 'nombre', 'nombre': 'Nombre', 'tipo': 'texto', 'valor': nombre_filtro },
{'id': 'tipo', 'nombre': 'Tipo', 'tipo': 'seleccion', 'opciones': tipos_documento, 'valor': tipo_filtro}
],
'subir': {
'url': url_for('ecuestre.subir_archivo', id=ecuestre.id),
'nombre': 'Subir'
} if tiene_permiso(session, 'ecuestre_crear') else False,
'enlace': {
'url': url_for('ecuestre.subir_enlace', id=ecuestre.id),
'nombre': 'Enlace'
} if tiene_permiso(session, 'ecuestre_crear') else False
}
%}

{{ tabla(configuracion, documentos, cant_resultados, cant_paginas, pagina, orden, ordenar_por) }}

{% endblock %}

{% block scripts %}
<script>

  function irAlDocumento(id) {
    window.open(
      `/ecuestre/{{ ecuestre.id }}/documentos/${id}/ir`, '_blank').focus();
  }

  function descargarDocumento(id) {
    window.location.href = `/ecuestre/{{ ecuestre.id }}/documentos/${id}/descargar`;
  }

  function editarDocumento(id) {
    window.location.href = `/ecuestre/{{ ecuestre.id }}/documentos/${id}/editar`;
  }

  function eliminarDocumento(id) {
    if (confirm('¿Está seguro que desea borrar este documento?')) {
      window.location.href = `/ecuestre/{{ ecuestre.id }}/documentos/${id}/eliminar`;
    }
  }

</script>
{% endblock %}