{% extends "layouts/base.html" %}
{% from "components/tabla.html" import tabla %}
{% from "components/pilled_nav.html" import pilled_nav %}

{% block title %}Documentos del miembro{% endblock %}

{% block main %}

{{ pilled_nav([
    {'nombre': 'Información general', 'url': url_for('miembro.miembro_mostrar', id=miembro.id)},
    {'nombre': 'Documentos', 'url': url_for('miembro.miembro_documentos', id=miembro.id)}
])}}

{% set configuracion = {

'encabezados': [
{'id': 'nombre', 'nombre': 'Nombre', 'ordenar': True},
{'id': 'fecha', 'nombre': 'Fecha', 'ordenar': True},
{'id': 'tipo', 'nombre': 'Tipo'},
],
'acciones': [
{'nombre': 'Ir al documento', 'funcion': 'irAlDocumento', 'condicion': ['archivo_externo', True]},
{'nombre': 'Descargar', 'funcion': 'descargarDocumento', 'condicion': ['archivo_externo', False]},
{'nombre': 'Editar', 'funcion': 'editarDocumento'} if tiene_permiso(session, 'miembro_actualizar') and miembro.activo == True else False,
{'nombre': 'Eliminar','funcion': 'eliminarDocumento'} if tiene_permiso(session, 'miembro_eliminar')and miembro.activo == True else False
],
'filtros': [
{'id': 'nombre', 'nombre': 'Nombre', 'tipo': 'texto', 'valor': nombre_filtro },
{'id': 'tipo', 'nombre': 'Tipo', 'tipo': 'seleccion', 'opciones': tipos_documento | map(attribute='tipo'), 'valor': tipo_filtro}
],
'subir': {
'url': url_for('miembro.miembro_subir_archivo', id=miembro.id),
'nombre': 'Subir'
} if miembro.activo == True else False, 
'enlace': {
'url': url_for('miembro.miembro_subir_enlace', id=miembro.id),
'nombre': 'Enlace'
} if miembro.activo == True else False
}
%}

{{ tabla(configuracion, documentos, cant_resultados, cant_paginas, pagina, orden, ordenar_por) }}

{% endblock %}

{% block scripts %}
<script>

    function irAlDocumento(id) {
        window.open(
        `/miembros/{{ miembro.id }}/documentos/${id}/ir`, '_blank').focus();
    }

    function descargarDocumento(id) {
        window.location.href = `/miembros/{{ miembro.id }}/documentos/${id}/descargar`;
    }

    function editarDocumento(id) {
        window.location.href = `/miembros/{{ miembro.id }}/documentos/${id}/editar`;
    }

    function eliminarDocumento(id) {
        if (confirm('¿Está seguro que desea borrar este documento?')) {
            window.location.href = `/miembros/{{ miembro.id }}/documentos/${id}/eliminar`;
        }
    }

</script>
{% endblock %}