{% extends "layouts/base.html" %}
{% from "components/pilled_nav.html" import pilled_nav %}

{% block title %} Listado de Miembros {% endblock %}

{% block main %}

{{ pilled_nav([
    {'nombre': 'Información general', 'url': url_for('miembro.miembro_mostrar', id=miembro.id)},
    {'nombre': 'Documentos', 'url': url_for('miembro.miembro_documentos', id=miembro.id)}
])}}

<div class="contenedor">
    <h1 class="text-xl">Detalles de Miembro</h1>
    
    <p><strong>Nombre:</strong> {{ miembro.nombre }}</p>
    <p><strong>Apellido:</strong> {{ miembro.apellido }}</p>
    <p><strong>DNI:</strong> {{ miembro.dni }}</p>
    <p><strong>Email:</strong> {{ miembro.email }}</p>
    <p><strong>Teléfono:</strong> {{ miembro.telefono }}</p>
    <p><strong>Contacto de Emergencia:</strong> {{ miembro.nombreContactoEmergencia }}</p>
    <p><strong>Teléfono de Emergencia:</strong> {{ miembro.telefonoContactoEmergencia }}</p>
    <p><strong>Obra Social:</strong> {{ miembro.obraSocial }}</p>
    <p><strong>Número de Afiliado:</strong> {{ miembro.numeroAfiliado }}</p>
    <p><strong>Profesión:</strong> {{ miembro.profesion.nombre }}</p>
    <p><strong>Condición:</strong> {{ miembro.condicion_trabajo.nombre }}</p>
    <p><strong>Calle:</strong> {{ miembro.domicilio.calle }}</p>
    <p><strong>Numero:</strong> {{ miembro.domicilio.numero}}</p>
    <p><strong>Piso:</strong> {{ miembro.domicilio.piso }}</p>
    <p><strong>Departamento:</strong> {{ miembro.domicilio.dpto }}</p>
    <p><strong>Localidad:</strong> {{ miembro.domicilio.localidad }}</p>
    <p><strong>Usuario:</strong> {{ miembro.usuario.alias }}</p>
    
    <div class="flex gap-3">
        <a class="btn btn-secondary w-full" href="{{ url_for('miembro.miembro_listar')}}"> Volver </a>
        <!-- <a class="btn btn-secondary w-full" href="{{ url_for('miembro.miembro_editar', id=miembro.id) }}">Editar</a>
        <button class="btn btn-danger w-full" type="submit" onclick="
        if (confirm('¿Está seguro que desea borrar este miembro?')) {
            window.location.href = `/miembros/${id}/eliminar`;
        }"> Eliminar </button> -->
    </div>
</div>
{% endblock %}