{% extends "layouts/base.html" %}
{% from "components/tabla.html" import tabla %}

{% block title %}Cobros{% endblock %}

{% block main %}

{% set configuracion = {
'encabezados': [
{'id': 'id', 'nombre': 'Id'},
{'id': 'fecha_pago', 'nombre': 'Fecha de pago', 'ordenar': True},
{'id': 'medio_de_pago', 'nombre': 'Medio de pago', 'ordenar': True},
{'id': 'monto', 'nombre': 'Monto'},
{'id': 'observaciones', 'nombre': 'Observacones'},
{'id': 'joa', 'nombre': 'Jinete/Amazona'}
],
'acciones': [
{'nombre': 'Ver', 'funcion': 'verCobro'},
{'nombre': 'Editar', 'funcion': 'editarCobro'},
{'nombre': 'Borrar','funcion': 'borrarCobro'}
],
'filtros': [
{'id': 'nombre', 'nombre': 'Nombre', 'tipo': 'texto', 'valor': nombre_filtro },
],
'crear': {
'url': url_for('cobros.nuevo_cobro'),
'nombre': 'Crear cobro'
}
}
%}

{{ tabla(configuracion, cobros, cant_resultados, cant_paginas, pagina, orden, ordenar_por) }}

{% endblock %}

{% block scripts %}

<script>

  function verCobro(id) {
    window.location.href = `/cobros/${id}`;
  }

  function editarCobro(id) {
    window.location.href = `/cobros/${id}/editar`;
  }

  function borrarCobro(id) {
    if (confirm('¿Está seguro que desea borrar este cobro?')) {
      window.location.href = `/cobros/${id}/eliminar`;
    }
  }

</script>

{% endblock %}