{% from 'components/iconos.html' import chevron_left_icon %}

{% extends "layouts/base.html" %}
{% block title %} Error {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main %}
<div class="max-w-[50rem] flex flex-col mx-auto size-full text-center py-10 px-4">

    <h1 class="text-7xl font-bold sm:text-9xl text-gray-800 dark:text-white">{{ error.code }}</h1>
    <h2 class="text-4xl text-gray-800 dark:text-white sm:text-6xl">{{error.name}}</h2>
    <p class=" text-gray-600 dark:text-neutral-400 mt-3">{{ error.description }}</p>
    <div class="mt-5 flex flex-col justify-center items-center gap-2 sm:flex-row sm:gap-3">
        <a class="w-full sm:w-auto py-2 px-3 inline-flex justify-center items-center gap-x-1 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
            href="/">
            {{chevron_left_icon()}}
            Volver al inicio
        </a>
    </div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block scripts %}
{% endblock %}