{% from "components/navbar_secundaria.html" import navbar_secundaria %}
{% extends "layouts/base.html" %}
{% block title %} {{ titulo }} {% endblock %}
{% block main %}
{% if jya %}
    {{ navbar_secundaria({
    'volver': url_for('jinetes_y_amazonas.ver', id=jya.id),
    })}}
{% else %}
    {{ navbar_secundaria({
        'volver': url_for('jinetes_y_amazonas.listar'),
    })}}
{% endif %}
<form method="post" class="formulario" novalidate>
    {{ form.csrf_token }}
    <div class="formulario-header">
        <h1> {{titulo}} </h1>
    </div>
    <div class="formulario-body">
        <p class="text-gray-600 text-xs italic">Los campos con * son obligatorios </p>
        <div>
            {{ form.nombre.label }}
            {{ form.nombre }}<br>
            {% for error in form.nombre.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.apellido.label }}
            {{ form.apellido }}<br>
            {% for error in form.apellido.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.dni.label }}
            {{ form.dni }}<br>
            {% for error in form.dni.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.fecha_nacimiento.label }}
            {{ form.fecha_nacimiento }}<br>
            {% for error in form.fecha_nacimiento.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.edad.label }}
            {{ form.edad }}<br>
            {% for error in form.edad.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.provincia_nacimiento.label }}
            {{ form.provincia_nacimiento }}<br>
            {% for error in form.provincia_nacimiento.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.localidad_nacimiento.label }}
            {{ form.localidad_nacimiento }}<br>
            {% for error in form.localidad_nacimiento.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.domicilio_actual.label }}
            {{ form.domicilio_actual }}<br>
            {% for error in form.domicilio_actual.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.telefono_actual.label }}
            {{ form.telefono_actual }}<br>
            {% for error in form.telefono_actual.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.contacto_emer_nombre.label }}
            {{ form.contacto_emer_nombre }}<br>
            {% for error in form.contacto_emer_nombre.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.contacto_emer_telefono.label }}
            {{ form.contacto_emer_telefono }}<br>
            {% for error in form.contacto_emer_telefono.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div id="tiene_beca">
            {{ form.becado.label }}
            {{ form.becado }}<br>
            {% for error in form.becado.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div id="porcentaje_beca">
            {{ form.porcentaje_beca.label }}
            {{ form.porcentaje_beca }}<br>
            {% for error in form.porcentaje_beca.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </div>
</form>

{% include "pages/jinetes_y_amazonas/_ocultar_mostrar_beca.html" %}

{% endblock %}