{% from "components/navbar_secundaria.html" import navbar_secundaria %}
{% extends "layouts/base.html" %}
{% block title %} {{titulo}} {% endblock %}
{% block main %}
    {{ navbar_secundaria({
    'volver': url_for('jinetes_y_amazonas.listar'),
    })}}
    <form method="post" class="formulario" novalidate>
        {{ form.csrf_token }}
        <div class="formulario-header">
            <h1> {{titulo}} </h1>
        </div>
        <div class="formulario-body">
            <div>
                {{ form.nombre_escuela.label }}
                {{ form.nombre_escuela }}<br>
                {% for error in form.nombre_escuela.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.direccion_escuela.label }}
                {{ form.direccion_escuela }}<br>
                {% for error in form.direccion_escuela.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.telefono_escuela.label }}
                {{ form.telefono_escuela }}<br>
                {% for error in form.telefono_escuela.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.grado_escuela.label }}
                {{ form.grado_escuela }}<br>
                {% for error in form.grado_escuela.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.observaciones_escuela.label }}
                {{ form.observaciones_escuela }}<br>
                {% for error in form.observaciones_escuela.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.profesionales_a_cargo.label }}
                {{ form.profesionales_a_cargo }}<br>
                {% for error in form.profesionales_a_cargo.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </div>
    </form>
{% endblock %}