{% extends "layouts/base.html" %}
{% block title %} Nuevo jinete/amazona {% endblock %}
{% block main %}
    <form method="post" novalidate>
        {{ form.csrf_token }}
        <div>
            {{ form.certificado_discapacidad.label }}
            {{ form.certificado_discapacidad }}<br>
            {% for error in form.certificado_discapacidad.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.diagnostico.label }}
            {{ form.diagnostico }}<br>
            {% for error in form.diagnostico.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.diagnostico_otro.label }}
            {{ form.diagnostico_otro }}<br>
            {% for error in form.diagnostico_otro.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.tipo_discapacidad.label }}
            {{ form.tipo_discapacidad }}<br>
            {% for error in form.tipo_discapacidad.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}