{% from "components/navbar_secundaria.html" import navbar_secundaria %}

{% extends "layouts/base.html" %}

{% block title %}J&A {{jya.id}}{% endblock %}

{% block main %}

{{ navbar_secundaria({
'volver': url_for('jinetes_y_amazonas.listar'),
'tabs': [
{'nombre': 'Información general', 'url': url_for('jinetes_y_amazonas.ver', id=jya.id)},
{'nombre':'Salud', 'url': url_for('jinetes_y_amazonas.ver_salud', id=jya.id)},
{'nombre':'Económica', 'url': url_for('jinetes_y_amazonas.ver_economica', id=jya.id)},
{'nombre':'Escolaridad', 'url': url_for('jinetes_y_amazonas.ver_escolaridad', id=jya.id)},
{'nombre':'Trabajo Institucional', 'url': url_for('jinetes_y_amazonas.ver_institucional', id=jya.id)},
{'nombre':'Familiares', 'url': url_for('jinetes_y_amazonas.ver_familiares', id=jya.id)},
{'nombre': 'Documentos', 'url': url_for('jinetes_y_amazonas.ver_archivos', id=jya.id)}
]})}}
<div class="contenedor">
  <div class="contenedor-header">
    <h1>Información general - {{ jya.nombre }} {{ jya.apellido }}</h1>
  </div>
  <div class="contenedor-body [&_h2]:text-xl dark:[&_hr]:border-neutral-700">
    <p><strong>Nombre:</strong> {{ jya.nombre }}</p>
    <p><strong>Apellido:</strong> {{ jya.apellido }}</strong></p>
    <p><strong>DNI:</strong> {{ jya.dni }}</p>
    {% if jya.tiene_deuda %}
    <p style="color: red;"><strong>Tiene deuda</strong></p>
    {% endif %}
    <p><strong>Edad:</strong> {{ edad }}</p>
    <p><strong>Fecha de nacimiento:</strong> {{ fechahora_a_fecha(jya.fecha_nacimiento) }}</p>
    <p><strong>Provincia de nacimiento:</strong> {{ mostrar_dato(jya.provincia_nacimiento) }}</p>
    <p><strong>Localidad de nacimiento:</strong> {{ mostrar_dato(jya.localidad_nacimiento) }}</p>
    <p><strong>Domicilio actual:</strong> {{ mostrar_dato(jya.domicilio_actual) }}</p>
    <p><strong>Telefono actual:</strong> {{ mostrar_dato(jya.telefono_actual) }}</p>
    <p><strong>Nombre de contacto de emergencia:</strong> {{ mostrar_dato(jya.contacto_emer_nombre) }}</p>
    <p><strong>Telefono de contacto de emergencia:</strong> {{ mostrar_dato(jya.contacto_emer_telefono) }}</p>
    <p><strong>¿Tiene beca?:</strong> {{ booleano_a_palabra(jya.becado) }}</p>
    {% if jya.becado %}
      <p><strong>Porcentaje de beca:</strong> {{ jya.porcentaje_beca }}%</p>
    {% endif %}
    {% if tiene_permiso(session, 'jya_actualizar') %}
      <a class="btn btn-secondary w-full" href="{{url_for('jinetes_y_amazonas.editar_j_y_a', id=jya.id)}}">Editar</a>
    {% endif %}
  </div>

  {% endblock %}