{% extends "layouts/base.html" %}
{% from "components/tabla.html" import tabla %}
{% from "components/navbar_secundaria.html" import navbar_secundaria %}

{% block title %}Archivos de J&A{% endblock %}

{% block main %}

{{ navbar_secundaria({
'volver': url_for('jinetes_y_amazonas.listar'),
'tabs': [
{'nombre': 'Información general', 'url': url_for('jinetes_y_amazonas.ver', id=jya.id)},
{'nombre': 'Documentos', 'url': url_for('jinetes_y_amazonas.ver_archivos', id=jya.id)}
]})}}

{% set configuracion = {
'encabezados': [
{'id': 'id', 'nombre': 'Id'},
{'id': 'titulo', 'nombre': 'Titulo', 'ordenar': True},
{'id': 'fecha_subida', 'nombre': 'Fecha de subida'},
{'id': 'tipo_archivo', 'nombre': 'Tipo de archivo'},
],
'acciones': [
{'nombre': 'Ir al documento', 'funcion': 'irAlDocumento', 'condicion': ['externo', True]},
{'nombre': 'Descargar', 'funcion': 'descargarDocumento', 'condicion': ['externo', False]},
{'nombre': 'Eliminar', 'funcion': 'eliminarDocumento'},
],
'filtros': [
{'id': 'nombre', 'nombre': 'Nombre', 'tipo': 'texto', 'valor': nombre_filtro },
{'id': 'tipo', 'nombre': 'Tipo', 'tipo': 'seleccion', 'opciones': tipos_documento, 'valor': tipo_filtro}
],
'subir': {
'url': url_for('jinetes_y_amazonas.subir_archivo', id=jya.id),
'nombre': 'Subir'
},
'enlace': {
'url': url_for('jinetes_y_amazonas.subir_enlace', id=jya.id),
'nombre': 'Enlace'
},
}
%}

{{ tabla(configuracion, documentos, cant_resultados, cant_paginas, pagina, orden, ordenar_por) }}

{% endblock %}

{% block scripts %}

<script>

  function irAlDocumento(id) {
    window.open(
      `/jinetes_y_amazonas/documentos/${id}/ir`, '_blank').focus();
  }

  function descargarDocumento(id) {
    window.location.href = `/jinetes_y_amazonas/descargar_archivo/${id}`;
  }

  function eliminarDocumento(id) {
    if (confirm('¿Está seguro que desea borrar este documento?')) {
      window.location.href = `/jinetes_y_amazonas/eliminar_documento/${id}`;
    }
  }

</script>

{% endblock %}