{% from "components/navbar_secundaria.html" import navbar_secundaria %}

{% extends "layouts/base.html" %}

{% block title %}J&A {{jya.id}}{% endblock %}

{% block main %}

{{ navbar_secundaria({
'volver': url_for('jinetes_y_amazonas.listar'),
'tabs': [
{'nombre': 'Información general', 'url': url_for('jinetes_y_amazonas.ver', id=jya.id)},
{'nombre':'Salud', 'url': url_for('jinetes_y_amazonas.ver_salud', id=jya.id)},
{'nombre':'Económica', 'url': url_for('jinetes_y_amazonas.ver_economica', id=jya.id)},
{'nombre':'Escolaridad', 'url': url_for('jinetes_y_amazonas.ver_escolaridad', id=jya.id)},
{'nombre':'Familiares', 'url': url_for('jinetes_y_amazonas.ver_familiares', id=jya.id)},
{'nombre':'Trabajo Institucional', 'url': url_for('jinetes_y_amazonas.ver_institucional', id=jya.id)},
{'nombre': 'Documentos', 'url': url_for('jinetes_y_amazonas.ver_archivos', id=jya.id)}
]})}}
<div class="contenedor">
  <div class="contenedor-header">
    <h1>Información de salud - {{ jya.nombre }} {{ jya.apellido }}</h1>
  </div>
  <div class="contenedor-body [&_h2]:text-xl dark:[&_hr]:border-neutral-700">
    <p><strong>¿Posee certificado de discapacidad?:</strong> {{ booleano_a_palabra(jya.certificado_discapacidad) if jya.certificado_discapacidad is not none else "-sin datos-" }}</p>
    {% if jya.certificado_discapacidad %}
      <p><strong>Diagnóstico:</strong> {{ mostrar_dato(jya.diagnostico.nombre) }}</p>
      {% if jya.diagnostico_otro %}
      <p><strong>Descripción del diagnóstico:</strong> {{ jya.diagnostico_otro }}</p>
      {% endif %}
    {% else %}
    <p><strong>Tipo de discapacidad:</strong></br>
      {% for tipo in jya.tipo_discapacidad %}
        {{ mostrar_dato(tipo.nombre) }}</br>
      {% endfor %}
    </p>
    {% endif %}
  {% if tiene_permiso(session, 'jya_actualizar') %}
    <a class="btn btn-secondary w-full" href="{{url_for('jinetes_y_amazonas.editar_info_salud', id=jya.id)}}">Editar</a>
  {% endif %}
  </div>

  {% endblock %}