{% extends "layouts/base.html" %}
{% block title %} Nuevo jinete/amazona {% endblock %}
{% block main %}
    <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.joa.label }}: {{ form.joa }}
        <div>
            {{ form.fecha_pago.label }}
            {{ form.fecha_pago }}<br>
            {% for error in form.fecha_pago.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.medio_de_pago.label }}
            {{ form.medio_de_pago }}<br>
            {% for error in form.medio_de_pago.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.monto.label }}
            {{ form.monto }}<br>
            {% for error in form.monto.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.observaciones.label }}
            {{ form.observaciones }}<br>
            {% for error in form.observaciones.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}