{% extends "layouts/base.html" %}
{% block title %} Nuevo jinete/amazona {% endblock %}
{% block main %}
    <form method="post" novalidate>
        {{ form.csrf_token }}
        <div>
            {{ form.nombre_escuela.label }}
            {{ form.nombre_escuela }}<br>
            {% for error in form.nombre_escuela.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.direccion_escuela.label }}
            {{ form.direccion_escuela }}<br>
            {% for error in form.direccion_escuela.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.telefono_escuela.label }}
            {{ form.telefono_escuela }}<br>
            {% for error in form.telefono_escuela.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.grado_escuela.label }}
            {{ form.grado_escuela }}<br>
            {% for error in form.grado_escuela.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.observaciones_escuela.label }}
            {{ form.observaciones_escuela }}<br>
            {% for error in form.observaciones_escuela.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.profesionales_a_cargo.label }}
            {{ form.profesionales_a_cargo }}<br>
            {% for error in form.profesionales_a_cargo.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}