{% extends "layouts/base.html" %}
{% block title %} Nuevo jinete/amazona {% endblock %}
{% block main %}
    <form method="post" novalidate>
        {{ form.csrf_token }}
        <div>
            {{ form.propuesta_trabajo.label }}
            {{ form.propuesta_trabajo }}<br>
            {% for error in form.propuesta_trabajo.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.condicion.label }}
            {{ form.condicion }}<br>
            {% for error in form.condicion.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.sede.label }}
            {{ form.sede }}<br>
            {% for error in form.sede.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}