{% extends "layouts/base.html" %}

{% block title %}J&A {{jya.id}}{% endblock %}

{% block main %}

<h1>Detalles de J&A</h1>
<h2>Información general</h2>
<p><strong>Nombre:</strong> {{ jya.nombre }}</p>
<p><strong>Apellido:</strong> {{ jya.apellido }}</strong></p>
<p><strong>DNI:</strong> {{ jya.dni }}</p>
{% if jya.tiene_deuda %}
  <p><strong>Tiene deuda</strong></p>
{% endif %}
<p><strong>Edad:</strong> {{ jya.edad }}</p>
<p><strong>Fecha de nacimiento:</strong> {{ jya.fecha_nacimiento }}</p>
<p><strong>Provincia de nacimiento:</strong> {{ jya.provincia_nacimiento }}</p>
<p><strong>Localidad de nacimiento:</strong> {{ jya.localidad_nacimiento }}</p>
<p><strong>Domicilio actual:</strong> {{ jya.domicilio_actual }}</p>
<p><strong>Telefono actual:</strong> {{ jya.telefono_actual }}</p>
<p><strong>Nombre de contacto de emergencia:</strong> {{ jya.contacto_emer_nombre }}</p>
<p><strong>Telefono de contacto de emergencia:</strong> {{ jya.contacto_emer_telefono }}</p>
<p><strong>¿Tiene beca?:</strong> {{ jya.becado }}</p>
<p><strong>Porcentaje de beca:</strong> {{ jya.porcentaje_beca }}</p>

<h2>Información de salud</h2>
<p><strong>¿Posee certificado de discapacidad?:</strong> {{ jya.certificado_discapacidad }}</p>
<p><strong>Diagnóstico:</strong> {{ jya.diagnostico.nombre }}</p>
{% if jya.diagnostico_otro %}
  <p><strong>Otro:</strong> {{ jya.diagnostico_otro }}</p>
{% endif %}
<p><strong>Tipo de discapacidad:</strong> {{ jya.tipo_discapacidad }}</p>

<h2>Información económica</h2>
<p><strong>¿Recibe asignación familiar?:</strong> {{ jya.asignacion_familiar }}</p>
<p><strong>Tipo de asignación familiar:</strong> {{ jya.tipo_asignacion_familiar }}</p>
<p><strong>¿Es beneficiario de alguna pensión?:</strong> {{ jya.beneficiario_pension }}</p>
<p><strong>Tipo de pensión:</strong> {{ jya.tipo_pension }}</p>
<p><strong>Obra social:</strong> {{ jya.obra_social }}</p>
<p><strong>Numero de afiliado:</strong> {{ jya.posee_curatela }}</p>
<p><strong>¿Posee curatela?:</strong> {{ jya.edad }}</p>
<p><strong>Obsrvaciones:</strong> {{ jya.observaciones_obra_social }}</p>

<h2>Información sobre escolaridad</h2>
<p><strong>Nombre de escuela:</strong> {{ jya.nombre_escuela }}</p>
<p><strong>Direccion de escuela:</strong> {{ jya.direccion_escuela }}</p>
<p><strong>Telefono de escuela:</strong> {{ jya.telefono_escuela }}</p>
<p><strong>Grado al que asiste:</strong> {{ jya.grado_escuela }}</p>
<p><strong>Observaciones:</strong> {{ jya.observaciones_escuela }}</p>

<h2>Profesionales a cargo</h2>
<p>{{ jya.profesionales_a_cargo }}</p>

<h2>Trabajo en nuestra institución</h2>
<p><strong>Propuesta de trabajo:</strong> {{ jya.propuesta_trabajo }}</p>
<p><strong>Sede:</strong> {{ jya.sede }}</p>
<p><strong>Profesor:</strong> {{ jya.profesor.nombre }}</p>
<p><strong>Conductor de caballo:</strong> {{ jya.conductor_caballo.nombre }}</p>
<p><strong>Caballo:</strong> {{ jya.caballo.nombre }}</p>
<p><strong>Auxiliar de pista:</strong> {{ jya.auxiliar_pista }}</p>

<a href="{{ url_for('jinetes_y_amazonas.editar_jya', id=jya.id) }}">Editar</a>
<form action="#" method="POST" style="display:inline;">
  <button type="submit"
    onclick="return confirm('¿Estás seguro de que deseas eliminar este jinete/amazona?');">Eliminar</button>
</form>

{% endblock %}