{% extends "layouts/base.html" %}
{% from "components/pilled_nav.html" import pilled_nav %}

{% block title %}J&A {{jya.id}}{% endblock %}

{% block main %}

{{ pilled_nav([
  {'nombre': 'Información general', 'url': url_for('jinetes_y_amazonas.ver', id=jya.id)},
  {'nombre': 'Documentos', 'url': url_for('jinetes_y_amazonas.ver_archivos', id=jya.id)}
  ])}}

<div class="contenedor">
  <div class="contenedor-header"> 
    <h1>Detalles de J&A</h1>
  </div>
  <div class="contenedor-body">
  <div>
    <h2>Información general</h2>
    <a href="{{url_for('jinetes_y_amazonas.editar_j_y_a', id=jya.id)}}">Editar</a>
  </div>

  <p><strong>Nombre:</strong> {{ jya.nombre }}</p>
  <p><strong>Apellido:</strong> {{ jya.apellido }}</strong></p>
  <p><strong>DNI:</strong> {{ jya.dni }}</p>
  {% if jya.tiene_deuda %}
    <p style="color: red;"><strong>Tiene deuda</strong></p>
  {% endif %}
  <p><strong>Edad:</strong> {{ jya.edad }}</p>
  <p><strong>Fecha de nacimiento:</strong> {{ jya.fecha_nacimiento }}</p>
  <p><strong>Provincia de nacimiento:</strong> {{ jya.provincia_nacimiento }}</p>
  <p><strong>Localidad de nacimiento:</strong> {{ jya.localidad_nacimiento }}</p>
  <p><strong>Domicilio actual:</strong> {{ jya.domicilio_actual }}</p>
  <p><strong>Telefono actual:</strong> {{ jya.telefono_actual }}</p>
  <p><strong>Nombre de contacto de emergencia:</strong> {{ jya.contacto_emer_nombre }}</p>
  <p><strong>Telefono de contacto de emergencia:</strong> {{ jya.contacto_emer_telefono }}</p>
  <p><strong>¿Tiene beca?:</strong> {{ jya.becado }}</p>
  <p><strong>Porcentaje de beca:</strong> {{ jya.porcentaje_beca }}</p>

  <div>
    <h2>Información de salud</h2>
    <a href="{{url_for('jinetes_y_amazonas.editar_info_salud', id=jya.id)}}">Editar</a>
  </div>
  <p><strong>¿Posee certificado de discapacidad?:</strong> {{ jya.certificado_discapacidad }}</p>
  <p><strong>Diagnóstico:</strong> {{ jya.diagnostico.nombre }}</p>
  {% if jya.diagnostico_otro %}
    <p><strong>Otro:</strong> {{ jya.diagnostico_otro }}</p>
  {% endif %}
  <p><strong>Tipo de discapacidad:</strong> {{ jya.tipo_discapacidad }}</p>

  <div>
    <h2>Información económica</h2>
    <a href="{{url_for('jinetes_y_amazonas.editar_info_econ', id=jya.id)}}">Editar</a>
  </div>
  <p><strong>¿Recibe asignación familiar?:</strong> {{ jya.asignacion_familiar }}</p>
  <p><strong>Tipo de asignación familiar:</strong> {{ jya.tipo_asignacion_familiar }}</p>
  <p><strong>¿Es beneficiario de alguna pensión?:</strong> {{ jya.beneficiario_pension }}</p>
  <p><strong>Tipo de pensión:</strong> {{ jya.tipo_pension }}</p>
  <p><strong>Obra social:</strong> {{ jya.obra_social }}</p>
  <p><strong>Numero de afiliado:</strong> {{ jya.posee_curatela }}</p>
  <p><strong>¿Posee curatela?:</strong> {{ jya.edad }}</p>
  <p><strong>Obsrvaciones:</strong> {{ jya.observaciones_obra_social }}</p>

  <div>
    <h2>Información sobre escolaridad</h2>
    <a href="{{url_for('jinetes_y_amazonas.editar_info_esc', id=jya.id)}}">Editar</a>
  </div>
  <p><strong>Nombre de escuela:</strong> {{ jya.nombre_escuela }}</p>
  <p><strong>Direccion de escuela:</strong> {{ jya.direccion_escuela }}</p>
  <p><strong>Telefono de escuela:</strong> {{ jya.telefono_escuela }}</p>
  <p><strong>Grado al que asiste:</strong> {{ jya.grado_escuela }}</p>
  <p><strong>Observaciones:</strong> {{ jya.observaciones_escuela }}</p>

  <h2>Profesionales a cargo</h2>
  <p>{{ jya.profesionales_a_cargo }}</p>

  <div>
    <h2>Trabajo en nuestra institución</h2>
    <a href="{{url_for('jinetes_y_amazonas.editar_info_inst', id=jya.id)}}">Editar</a>
  </div>
  <p><strong>Propuesta de trabajo:</strong> {{ jya.propuesta_trabajo }}</p>
  <p><strong>Sede:</strong> {{ jya.sede }}</p>
  <p><strong>Profesor:</strong> {{ jya.profesor.nombre }}</p>
  <p><strong>Conductor de caballo:</strong> {{ jya.conductor_caballo.nombre }}</p>
  <p><strong>Caballo:</strong> {{ jya.caballo.nombre }}</p>
  <p><strong>Auxiliar de pista:</strong> {{ jya.auxiliar_pista.nombre }}</p>
</div>

{% endblock %}