@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar]:h-2
    [&::-webkit-scrollbar-thumb]:rounded-sm
    [&::-webkit-scrollbar-track]:rounded-sm
    [&::-webkit-scrollbar-track]:bg-gray-200
    [&::-webkit-scrollbar-thumb]:bg-gray-400
    dark:[&::-webkit-scrollbar-track]:bg-neutral-900
    dark:[&::-webkit-scrollbar-thumb]:bg-neutral-600;
  }
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

.dt-layout-row:has(.dt-search),
.dt-layout-row:has(.dt-length),
.dt-layout-row:has(.dt-paging) {
  display: none !important;
}
