{% from 'components/iconos.html' import dropdown_icon, search_icon, ordering_icon %}
{% macro datatable(data) %}

<div
  class="flex flex-col bg-gray-100 dark:bg-neutral-800 p-4 rounded-xl border dark:border-neutral-700 {% if data.filters %}--prevent-on-load-init{% endif %}"
  id="hs-datatable" data-hs-datatable='{
  "pageLength": 10,
  "pagingOptions": {
    "pageBtnClasses": "min-w-[40px] flex justify-center items-center text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 py-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:focus:bg-neutral-700 dark:hover:bg-neutral-700"
  },
  "language": {
    "zeroRecords": "<div class=\"p-5 h-full flex flex-col justify-center items-center text-center\"><p class=\"text-sm text-gray-600 dark:text-neutral-400\">No se encontraron resultados</p></div>"
  }
}'>
  <div class="flex items-center space-x-2 mb-4">
    <!-- Busqueda -->
    <div class="flex-0">
      <div class="relative max-w-xs">
        <label for="hs-table-input-search" class="sr-only">Search</label>
        <input type="text" name="hs-table-search" id="hs-table-input-search"
          class="py-2 px-3 ps-9 block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
          placeholder="Buscar" data-hs-datatable-search="">
        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-3">
          {{search_icon("size-4 text-gray-400 dark:text-neutral-500")}}
        </div>
      </div>
    </div>

    <!-- Filtros -->
    <div class="flex-1 flex items-center justify-end space-x-2">
      {% if data.filters %}
      <div class="hs-dropdown [--auto-close:inside] [--placement:bottom-right] relative sm:inline-flex z-20">
        <button id="hs-dropdown-filter" type="button"
          class="hs-dropdown-toggle py-2 px-3 inline-flex items-center gap-x-2 text-sm rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
          Filtrar
          {{dropdown_icon()}}
        </button>

        <div
          class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden bg-white border border-gray-200 shadow-md rounded-lg p-4 mt-2 dark:bg-neutral-900 dark:border dark:border-neutral-700"
          aria-labelledby="hs-dropdown-filter">
          <div class="space-y-2">
            {% for filter in data.filters %}
            <div>
              <label for="hs-table-filter-{{ loop.index }}" class="block text-sm font-medium mb-1 dark:text-white">
                {{ filter.label }}
              </label>
              {% if filter.tipo == 'texto' %}
              <input type="text" id="hs-table-filter-{{ loop.index }}"
                class="py-2 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                placeholder="Escriba un valor">
              {% elif filter.tipo == 'seleccion' %}
              <select id="hs-table-filter-{{ loop.index }}"
                class="py-2 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <option value="">Seleccione una opción</option>
                {% for opcion in filter.opciones %}
                <option value="{{ opcion }}">{{ opcion }}</option>
                {% endfor %}
              </select>
              {% elif filter.tipo == 'fecha' %}
              <input type="date" id="hs-table-filter-{{ loop.index }}"
                class="py-2 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
              {% elif filter.tipo == 'rangoFecha' %}
              <div class="grid grid-cols-2 gap-2">
                <input type="date" id="hs-table-filter-{{ loop.index }}-inicio"
                  class="py-2 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <input type="date" id="hs-table-filter-{{ loop.index }}-fin"
                  class="py-2 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla -->
  <div class="overflow-x-auto min-h-[300px]">
    <div class="min-w-full inline-block align-middle">
      <div class="overflow-hidden">
        <table class="min-w-full">

          <!-- Headers -->
          <thead class="border-b border-gray-200 dark:border-neutral-700">
            <tr>
              {% for header in data.headers %}
              <th scope="col" class="py-1 group text-start font-normal focus:outline-none">
                <div
                  class="py-1 px-2.5 inline-flex items-center border border-transparent text-sm text-gray-500 rounded-md hover:border-gray-200 dark:text-neutral-500 dark:hover:border-neutral-700">
                  {{ header }}
                  {{ ordering_icon()}}
                </div>
              </th>
              {% endfor %}
              {% if data.actions %}
              <th scope="col"
                class="py-2 px-3 text-end font-normal text-sm text-gray-500 --exclude-from-ordering dark:text-neutral-500">
                Acción</th>
              {% endif %}
            </tr>
          </thead>

          <!-- Datos -->
          <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
            {% for row in data.data %}
            <tr>
              {% for cell in row %}
              <td class="p-3 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">{{ cell }}</td>
              {% endfor %}
              {% if data.actions %}
              <td class="p-3 whitespace-nowrap text-end text-sm font-medium">
                {% for action in data.actions %}
                <button type="button"
                  class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 focus:outline-none focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:text-blue-400">
                  {{ action }}
                </button>
                {% endfor %}
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Paginación -->
  <div class="flex items-center space-x-1 mt-4 " data-hs-datatable-paging="">
    <button type="button"
      class="p-2.5 min-w-[40px] inline-flex justify-center items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-white focus:outline-none focus:bg-white disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
      data-hs-datatable-paging-prev="">
      <span aria-hidden="true">«</span>
      <span class="sr-only">Anterior</span>
    </button>
    <div class="flex items-center space-x-1 [&>.active]:outline [&>.active]:outline-1 dark:[&>.active]:outline-neutral-500 [&>.active]:outline-neutral-200 
      [&>.active]:bg-white dark:[&>.active]:bg-neutral-700 " data-hs-datatable-paging-pages=""></div>
    <button type="button"
      class="p-2.5 min-w-[40px] inline-flex justify-center items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-white focus:outline-none focus:bg-white disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
      data-hs-datatable-paging-next="">
      <span class="sr-only">Siguiente</span>
      <span aria-hidden="true">»</span>
    </button>
  </div>
</div>

{% endmacro %}