{% from "components/navbar_secundaria.html" import navbar_secundaria %}

{% extends "layouts/base.html" %}

{% block title %} {{titulo}} {% endblock %}

{% block main %}

{{ navbar_secundaria({
    'volver': url_for('miembro.miembro_listar')
})}}

<form novalidate method="POST" class="formulario">
    {{ form.csrf_token }}
    <div class="formulario-header">
        <h1> {{titulo}} </h1>
    </div>    
    <div class="formulario-body">

    {{ form.hidden_tag() }}

    <p class="text-gray-600 text-xs italic">Los campos con * son obligatorios </p>
    
    <div class="text-red-600">
        {{ form.nombre.label }}
        {{ form.nombre }}
        {% for error in form.nombre.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.apellido.label }}
        {{ form.apellido }}
        {% for error in form.apellido.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.dni.label }}
        {{ form.dni }}
        {% for error in form.dni.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.email.label }}
        {{ form.email }}
        {% for error in form.email.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.telefono.label }}
        {{ form.telefono }}
        {% for error in form.telefono.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.nombre_contacto_emergencia.label }}
        {{ form.nombre_contacto_emergencia }}
        {% for error in form.nombre_contacto_emergencia.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.telefono_contacto_emergencia.label }}
        {{ form.telefono_contacto_emergencia }}
        {% for error in form.telefono_contacto_emergencia.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.obra_social.label }}
        {{ form.obra_social }}
        {% for error in form.obra_social.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.numero_afiliado.label }}
        {{ form.numero_afiliado }}
        {% for error in form.numero_afiliado.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.condicion_id.label }}
        {{ form.condicion_id }}
        {% for error in form.condicion_id.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.profesion_id.label }}
        {{ form.profesion_id }}
        {% for error in form.profesion_id.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.puesto_laboral_id.label }}
        {{ form.puesto_laboral_id }}
        {% for error in form.puesto_laboral_id.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.calle.label }}
        {{ form.calle }}
        {% for error in form.calle.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.numero.label }}
        {{ form.numero }}
        {% for error in form.numero.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.piso.label }}
        {{ form.piso }}
        {% for error in form.piso.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.dpto.label }}
        {{ form.dpto }}
        {% for error in form.dpto.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.localidad.label }}
        {{ form.localidad }}
        {% for error in form.localidad.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.alias.label }}
        {{ form.alias }}
        {% for error in form.alias.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div>
        {{ form.submit() }}
    </div>
    </div>
</form>
{% endblock %}