{% extends "layouts/base.html" %}
{% from "components/tabla.html" import tabla %}
{% from "components/iconos.html" import open_icon, files_icon, edit_icon, ban_icon, circle_check_icon %}

{% block title %} Listado de Miembros {% endblock %}

{% block main %}

{% set configuracion= {
'titulo': 'Miembros',
'encabezados': [
    {'id': 'nombre', 'nombre': 'Nombre', 'ordenar': True},
    {'id': 'apellido', 'nombre': 'Apellido', 'ordenar': True},
    {'id': 'dni', 'nombre': 'DNI'},
    {'id': 'email', 'nombre': 'Email'},
    {'id': 'telefono', 'nombre': 'Teléfono'},
    {'id': 'profesion', 'nombre': 'Profesión'},
    {'id': 'puesto_laboral', 'nombre': 'Puesto Laboral'},
    {'id': 'fecha_creacion', 'nombre': 'Fecha de registro', 'ordenar': True}
],
'acciones': [
    {'nombre': 'Ver', 'funcion': 'verMiembro', 'icono': open_icon},
    {'nombre': 'Documentos', 'funcion': 'verDocumentos', 'icono': files_icon},
    {'nombre': 'Editar', 'funcion': 'editarMiembro', 'condiciones': [{'fila': 'activo', 'valor': True}], 'icono': edit_icon},
    {'nombre': 'Desactivar', 'funcion': 'cambiarCondicion', 'condiciones': [{'fila': 'activo', 'valor': True}], 'icono': ban_icon},
    {'nombre': 'Activar', 'funcion': 'cambiarCondicion', 'condiciones': [{'fila': 'activo', 'valor': False}], 'icono': circle_check_icon},
],
'filtros': [
    {'id': 'nombre', 'nombre': 'Nombre', 'tipo': 'texto', 'valor': nombre_filtro},
    {'id': 'apellido', 'nombre': 'Apellido', 'tipo': 'texto', 'valor': apellido_filtro},
    {'id': 'dni', 'nombre': 'DNI', 'tipo': 'texto', 'valor': dni_filtro},
    {'id': 'email', 'nombre': 'Email', 'tipo': 'texto', 'valor': email_filtro},
    {'id': 'profesion', 'nombre': 'Profesión', 'tipo': 'seleccion', 'opciones': profesiones | map(attribute='nombre'), 'valor': profesion_filtro}
],
'crear': {
    'url': url_for('miembro.miembro_crear'),
    'nombre': 'Crear miembro'
}
} %}

{{ tabla(configuracion, miembros, cant_resultados, cant_paginas, pagina, orden, ordenar_por) }}

{% endblock %}

{% block scripts %}
<script>
    function verMiembro(id) {
        window.location.href = `/miembros/${id}`;
    }

    function cambiarCondicion(id) {
        if (confirm('¿Estás seguro de que deseas activar/desactivar este miembro?')) {
            window.location.href = `/miembros/${id}/cambiar_condicion`;
        }
    }

    function editarMiembro(id) {
        window.location.href = `/miembros/${id}/editar`;
    }

    function verDocumentos(id) {
        window.location.href = `/miembros/${id}/documentos`;
    }
</script>
{% endblock %}