{% extends "layouts/base.html" %}
{% from "components/navbar_secundaria.html" import navbar_secundaria %}

{% block title %} Listado de Miembros {% endblock %}

{% block main %}

{{ navbar_secundaria({
'volver': url_for('miembro.miembro_listar'),
'tabs':[
{'nombre': 'Información general', 'url': url_for('miembro.miembro_mostrar', id=miembro.id)},
{'nombre': 'Documentos', 'url': url_for('miembro.miembro_documentos', id=miembro.id)}
]})}}

<div class="contenedor">
    <div class="contenedor-header">
        <h1>Detalles de Miembro</h1>
    </div>
    <div class="contenedor-body">
    <p><strong>Nombre:</strong> {{ miembro.nombre }}</p>
    <p><strong>Apellido:</strong> {{ miembro.apellido }}</p>
    <p><strong>DNI:</strong> {{ miembro.dni }}</p>
    <p><strong>Email:</strong> {{ miembro.email }}</p>
    <p><strong>Teléfono:</strong> {{ miembro.telefono }}</p>
    <p><strong>Contacto de Emergencia:</strong> {{ miembro.nombre_contacto_emergencia }}</p>
    <p><strong>Teléfono de Emergencia:</strong> {{ miembro.telefono_contacto_emergencia }}</p>
    <p><strong>Obra Social:</strong> {{ miembro.obra_social }}</p>
    <p><strong>Número de Afiliado:</strong> {{ miembro.numero_afiliado }}</p>
    <p><strong>Profesión:</strong> {{ miembro.profesion.nombre }}</p>
    <p><strong>Condición:</strong> {{ miembro.condicion_trabajo.nombre }}</p>
    <p><strong>Calle:</strong> {{ miembro.domicilio.calle }}</p>
    <p><strong>Numero:</strong> {{ miembro.domicilio.numero}}</p>
    {% if miembro.domicilio.piso %}
    <p><strong>Piso:</strong> {{ miembro.domicilio.piso }}</p>
    {% endif %}
    {% if miembro.domicilio.dpto %}
    <p><strong>Departamento:</strong> {{ miembro.domicilio.dpto }}</p>
    {% endif %}
    <p><strong>Localidad:</strong> {{ miembro.domicilio.localidad }}</p>
    <p><strong>Usuario:</strong> {{ miembro.usuario.alias }}</p>
    </div>

    <div class="contenedor-footer">
        {% if miembro.activo %}
        <a class="btn btn-secondary w-full" href="{{ url_for('miembro.miembro_editar', id=miembro.id) }}">Editar</a>
        {% endif %}
        <button class="btn btn-danger w-full" type="submit" onclick="
        if (confirm('¿Está seguro que desea activar/desactivar este miembro?')) {
            window.location.href = `/miembros/{{ miembro.id }}/cambiar_condicion`;
        }"> {{ 'Desactivar' if miembro.activo else 'Activar' }} </button>
    </div>
    </div>
</div>
{% endblock %}