{% extends "layouts/base.html" %}

{% block title %} {{titulo}} {% endblock %}

{% block main %}

<form novalidate method="POST" class="formulario">
    {{ form.csrf_token }}
    <div class="formulario-header">
    <h1> {{titulo}} </h1>
    </div>
    
    {{ form.hidden_tag() }}
    
    <p class="text-gray-600 text-xs italic">Los campos con * son obligatorios </p>

    <div class="text-red-600">
        {{ form.tipo_id.label }}
        {{ form.tipo_id }}
        {% for error in form.tipo_id.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.monto.label }}
        {{ form.monto }}
        {% for error in form.monto.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.descripcion.label }}
        {{ form.descripcion }}
        {% for error in form.descripcion.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600">
        {{ form.fecha_pago.label }}
        {{ form.fecha_pago }}
        {% for error in form.fecha_pago.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="text-red-600" id="dni_group">
        {{ form.dni.label }}
        {{ form.dni }}
        {% for error in form.dni.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
    </div>

    <a class="btn btn-secondary w-full" href="{{ url_for('pago.pago_listar')}}"> Volver </a>

    <div>
        {{ form.submit() }}
    </div>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const today = new Date().toISOString().split('T')[0];
        document.querySelector('[name="fecha_pago"]').setAttribute('max', today);

        const tipoSelect = document.getElementById('tipo_id');
        const dniGroup = document.getElementById('dni_group');
        const dniField = document.querySelector('[name="dni"]');

        function toggleDniField() {
            const selectedOption = tipoSelect.options[tipoSelect.selectedIndex].text;
            if (selectedOption === 'Honorario') {
                dniGroup.style.display = 'block';
                dniField.setAttribute('required', 'required'); // Hacer que el DNI sea requerido
            } else {
                dniGroup.style.display = 'none';
                dniField.removeAttribute('required'); // Eliminar el atributo required si no es Honorario
            }
        }

        // Verificar el estado inicial al cargar la página
        toggleDniField();

        // Escuchar los cambios en el select de tipo de pago
        tipoSelect.addEventListener('change', toggleDniField);
    });
</script>
{% endblock %}