{% extends "layouts/base.html" %}
{% from "components/tabla.html" import tabla %}
{% from "components/iconos.html" import open_icon, edit_icon, delete_icon %}

{% block title %}Cobros{% endblock %}

{% block main %}

{% set configuracion = {
'encabezados': [
{'id': 'fecha_pago', 'nombre': 'Fecha de pago', 'ordenar': True},
{'id': 'medio_de_pago', 'nombre': 'Medio de pago'},
{'id': 'joa', 'nombre': 'Jinete/Amazona'},
{'id': 'recibio_el_dinero', 'nombre': 'Recibió el dinero'},
{'id': 'monto', 'nombre': 'Monto'}
],
'acciones': [
{'nombre': 'Ver', 'funcion': 'verCobro', 'icono': open_icon},
{'nombre': 'Editar', 'funcion': 'editarCobro', 'icono': edit_icon} if tiene_permiso(session,
'cobro_actualizar') else False,
{'nombre': 'Borrar','funcion': 'borrarCobro', 'icono': delete_icon} if tiene_permiso(session,
'cobro_eliminar') else False
],
'filtros': [
{'id': 'nombre', 'nombre': 'Nombre', 'tipo': 'texto', 'valor': nombre_filtro },
{'id': 'apellido', 'nombre': 'Apellido', 'tipo': 'texto', 'valor': apellido_filtro },
{'id': 'medio_de_pago', 'nombre': 'Medio de pago', 'tipo': 'seleccion', 'opciones': medios_de_pago,'valor': medio_pago_filtro },
{'id': 'despues_de', 'nombre': 'Después de', 'tipo': 'fecha', 'valor': despues_de_filtro },
{'id': 'antes_de', 'nombre': 'Antes de', 'tipo': 'fecha', 'valor': antes_de_filtro },
],
'crear': {
'url': url_for('cobros.nuevo_cobro'),
'nombre': 'Crear cobro'
} if tiene_permiso(session, 'cobro_crear') else False
}
%}

{{ tabla(configuracion, cobros, cant_resultados, cant_paginas, pagina, orden, ordenar_por) }}

{% endblock %}

{% block scripts %}

<script>

  function verCobro(id) {
    window.location.href = `/cobros/${id}`;
  }

  function editarCobro(id) {
    window.location.href = `/cobros/${id}/editar`;
  }

  function borrarCobro(id) {
    if (confirm('¿Está seguro que desea borrar este cobro?')) {
      window.location.href = `/cobros/${id}/eliminar`;
    }
  }

</script>

{% endblock %}