{% from "components/navbar_secundaria.html" import navbar_secundaria %}

{% extends "layouts/base.html" %}

{% block title %}Cobro {{cobro.id}}{% endblock %}

{% block main %}

{{ navbar_secundaria({
'volver': url_for('cobros.listar'),
})}}

<div class="contenedor">
  <div class="contenedor-header">
    <h1>Detalles de Cobro</h1>
  </div>
  <div class="contenedor-body">
    <p><strong>Jinete/Amazona:</strong> {{ cobro.joa.nombre }}</p>
    <p><strong>Fecha de Pago:</strong> {{ fechahora_a_fecha(cobro.fecha_pago) }}</strong>
    <p><strong>Medio de pago:</strong> {{ cobro.medio_de_pago }}
    </p>
    <p><strong>Monto:</strong> {{ cobro.monto }}</p>
    <p><strong>Observaciones:</strong> {{ cobro.observaciones }}</p>
  </div>
  <div class="contenedor-footer">
    <a class="btn btn-secondary w-full" href="{{ url_for('cobros.editar_cobro', id=cobro.id) }}">Editar</a>
    <button type="submit" class="btn btn-danger w-full" onclick="
      if (confirm('¿Estás seguro de que deseas eliminar este cobro?')) {
        window.location.href = `/cobros/{{cobro.id}}/eliminar`;
      }">Eliminar</button>
  </div>
</div>

{% endblock %}