{% from "components/navbar_secundaria.html" import navbar_secundaria %}

{% extends "layouts/base.html" %}

{% block title %} Listado de Pagos {% endblock %}

{% block main %}

{{ navbar_secundaria({
'volver': url_for('pago.pago_listar')
})}}

<div class="contenedor">
    <div class="contenedor-header">
        <h1>Detalles de Pago</h1>
    </div>

    <div class="contenedor-body">
        <p><strong>Tipo:</strong> {{ pago.tipo_pago.nombre }}</p>
        <p><strong>Monto:</strong> {{ pago.monto }}</p>
        <p><strong>Descripción:</strong> {{ pago.descripcion }}</p>
        <p><strong>Fecha de pago:</strong> {{ pago.fecha_pago }}</p>
        {% if beneficiario %}
        <p><strong>Beneficiario:</strong> {{ beneficiario }}</p>
        {% endif %}
    </div>

    <div class="contenedor-footer">
        <a class="btn btn-secondary w-full" href="{{ url_for('pago.pago_editar', id=pago.id) }}">Editar</a>
        <button class="btn btn-danger w-full" type="submit" onclick="
    if (confirm('¿Está seguro que desea borrar este pago?')) {
        window.location.href = `/pagos/{{ pago.id }}/eliminar`;
    }"> Eliminar </button>
    </div>
</div>
{% endblock %}