{% from "components/navbar_secundaria.html" import navbar_secundaria %}

{% extends "layouts/base.html" %}

{% block title %}Anuncio {{anuncio.id}}{% endblock %}

{% block main %}

{{ navbar_secundaria({
'volver': url_for('anuncios.listar'),
})}}

<div class="contenedor">
  <div class="contenedor-header">
    <h1>{{ anuncio.titulo }}</h1>
  </div>
  <div class="contenedor-body">
    <h2>{{ anuncio.copete }}</h2>
    <p>{{ anuncio.contenido }}</p>
  </div>
  <div class="contenedor-footer">
    <p>Fecha de creación: {{ fechahora(anuncio.fecha_creacion) }}</p>
    <p>Fecha de publicación: {{ fechahora(anuncio.fecha_publicacion) if anuncio.fecha_publicacion else "-" }}</p>
    <p>Fecha de última actualización: {{ fechahora(anuncio.fecha_ultima_actualizacion) }}</p>
      <a class="btn btn-secondary w-full" href="{{ url_for('anuncios.editar_anuncio', id=anuncio.id) }}">Editar</a>
      <button type="submit" class="btn btn-danger w-full" onclick="
        if (confirm('¿Estás seguro de que deseas eliminar este anuncio?')) {
          window.location.href = `/anuncios/{{anuncio.id}}/eliminar`;
        }">Eliminar
      </button>
  </div>
</div>

{% endblock %}