{% from "components/navbar_secundaria.html" import navbar_secundaria %}

{% extends "layouts/base.html" %}

{% block title %} Editar perfil {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main %}
  {{ navbar_secundaria({
    'volver': url_for('autenticacion.ver_perfil')
  })}}

  {% from "pages/usuarios/_campo_form.html" import render_field %}
  <form method=post class="formulario">
    <div class="formulario-header">
      <h1>Editar perfil</h1>
    </div>
    {{ form.csrf_token }}
    <div class="formulario-body">
      <div>{{ render_field(form.email, type="email") }}</div>
      <div>{{ render_field(form.alias) }}</div>
      <div><input type=submit></div>
    </div>
  </form>


{% endblock %}
