{% extends "layouts/base.html" %}

{% from 'components/iconos.html' import google_icon %}

{% block title %}Iniciar Sesión{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main %}

<form method=post class="formulario mt-20 xs:max-w-max xs:min-w-80">
  <h1 class="text-center text-xl font-medium">Iniciar sesión</h1>
  {{ form.csrf_token }}
  <div>
    {{ form.email(placeholder="Correo") }}
    {% for error in form.email.errors %}
    <span class="text-red-600">{{ error }}</span>
    {% endfor %}
  </div>
  <div>
    {{ form.contraseña(placeholder="Contraseña") }}
    {% for error in form.contraseña.errors %}
    <span class="text-red-600">{{ error }}</span>
    {% endfor %}
  </div>
  <div class="flex flex-col gap-2">
    <button type="submit">Iniciar sesión</button>
    <button type="button" class="btn btn-secondary-light w-full">
      {{google_icon()}}
      Iniciar sesión con Google
    </button>
  </div>
</form>


{% endblock %}