{% extends "layouts/base.html" %}

{% from 'components/iconos.html' import google_icon %}

{% block title %}Iniciar Sesión{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main %}
<form action="{{ url_for('autenticacion.iniciar_sesion') }}" class="formulario mt-20 xs:max-w-max xs:min-w-80"
  method="POST">
  <h1 class="text-center text-xl font-medium">Iniciar sesión</h1>
  <input type="email" name="email" id="email" placeholder="Correo" required />
  <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required />
  <div class="flex flex-col gap-2">
    <button type="submit">Iniciar sesión</button>
    <button type="button" class="btn btn-secondary-light w-full">
      {{google_icon()}}
      Iniciar sesión con Google
    </button>
  </div>
</form>
{% endblock %}