{% extends "layouts/base.html" %}

{% block title %} Registrar usuario {% endblock %}

{% block head %}
{{ super() }}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block main %}

  {% from "pages/_form_base.html" import render_field %}
  <form method=post class="formulario">
    <h1>Registrar usuario</h1>
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.email, type="email") }}
      {{ render_field(form.contraseña, type="password") }}
      {{ render_field(form.alias) }}
      <div id="chau">{{ render_field(form.admin_sistema, id="es_admin", type="checkbox") }}</div>
      <div class="hola">{{ render_field(form.roles, id="roles") }}</div>
    </dl>
    <p><input type=submit value=Register>
  </form>


<script>
  function mostrar_ocultar(a, b, c) {
      console.log(document.getElementById("es_admin").checked);
      var x = document.getElementsByClassName(a);
      console.log(b == c);
      var i;
      if (b === c) {
        console.log(x.length);
        for (i = 0; i < x.length; i++) {
            x[i].style.display = 'block';
            x[i].style.margin = 'auto';
        }
      } else {
        console.log(x.length);
        for (i = 0; i < x.length; i++) {
            x[i].style.display = 'none';
        }
      }
  };

  document.getElementById("es_admin").addEventListener("change", function(){
      var a = "hola";
      var b = document.getElementById("es_admin").checked;
      var c = false;
      mostrar_ocultar(a, b, c);
  });

  var a = "hola";
  var b = document.getElementById("es_admin").checked;
  var c = false;
  mostrar_ocultar(a, b, c);

</script>



{% endblock %}



