{% extends "layouts/base.html" %}

{% block title %}{{usuario.alias}} ({{usuario.email}}){% endblock %}

{% block main %}
  <div class="contenedor">

    {% if usuario.id == session.get('id') %}
      <h1 class="text-xl">Mis datos</h1>
    {% else %}
      <h1 class="text-xl">Datos del usuario</h1>
    {% endif %}

    <p><strong>Usuario activo:</strong> {{ booleano_a_palabra(usuario.activo) }}</p>
    <p><strong>Alias:</strong> {{ usuario.alias }}</p>
    <p><strong>Email:</strong> {{ usuario.email }}</p>
    <p><strong>Es admin sistema:</strong> {{ booleano_a_palabra(usuario.admin_sistema) }}</p>
    <p><strong>Roles:</strong>
      {% if usuario.roles %}
        {% for rol in usuario.roles %}
          <strong></strong> <li style="margin-bottom: -1em;  margin-top: -1em;">{{ rol.nombre }} </li>
        {% endfor %}
      {% else %}
        -
      {% endif %}
    </p>
    <p><strong>Fecha de registro:</strong> {{ fechahora_a_fecha(usuario.creacion) }}</p>
    <p><strong>Última actualización:</strong> {{ fechahora(usuario.ultima_actualizacion) }}</p>

    <div class="flex gap-3">

      {% if tiene_permiso(session, 'usuario_editar') or session.get('id') == usuario.id %}
      {% if session.get('id') == usuario.id %}
      <a class="btn btn-secondary w-full" href="{{ url_for('autenticacion.editar_perfil', id=usuario.id) }}">
        Editar
      </a>
      {% else %}
      <a class="btn btn-secondary w-full" href="{{ url_for('usuarios.editar_usuario', id=usuario.id) }}">
        Editar
      </a>
      {% endif %}
      {% endif %}

      {% if session.get('id') != usuario.id and not usuario.admin_sistema %}

      {% if tiene_permiso(session, 'usuario_bloquear') and usuario.activo %}
      <button style="background-color:darkslategrey; border-color: darkslategrey;" class="btn btn-danger w-full" type="submit" 
      onclick="bloquearUsuario('{{ usuario.id }}')">
        Bloquear
      </button>
      {% endif %}

      {% if tiene_permiso(session, 'usuario_activar') and not usuario.activo %}
      <button style="background-color:forestgreen; border-color: forestgreen;" class="btn btn-danger w-full" type="submit" 
      onclick="activarUsuario('{{ usuario.id }}')">
        Activar
      </button>
      {% endif %}
      
      {% if tiene_permiso(session, 'usuario_eliminar') %}
      <button class="btn btn-danger w-full" type="submit" onclick="eliminarUsuario('{{ usuario.id }}')">
        Eliminar
      </button>
      {% endif %}

      {% endif %}

    </div>
  </div>

{% endblock %}

{% include 'pages/usuarios/_acciones_usuario.html' %}


<button style="background-color:darkslategrey; border-color: darkslategrey;" class="btn btn-danger w-full" type="submit" onclick="
        if (confirm('¿Está seguro que desea bloquear este usuario?', {id})) {
          window.location.href = `/usuarios/{{ usuario.id }}/bloquear`;}">
        Bloquear
      </button>