{% extends "layouts/base.html" %}
{% from "components/tabla.html" import tabla %}
{% from "components/navbar_secundaria.html" import navbar_secundaria %}
{% from "components/iconos.html" import open_icon, edit_icon, delete_icon, archive_icon, archive_restore_icon %}

{% block title %} Historial de cambios {% endblock %}

{% block main %}

{{ navbar_secundaria({
    'volver': url_for('contacto.listar_recibidos'),
    'tabs': [{'nombre': 'Detalles', 'url': url_for('contacto.ver', id=consulta)},
            {'nombre': 'Historial de cambios', 'url': url_for('contacto.historial', id=consulta)}
    ]})}}

{% set configuracion = {
'titulo': 'Historial de cambios',
'encabezados': [
    {'id': 'estado', 'nombre': 'Estado'},
    {'id': 'comentario', 'nombre': 'Comentario', 'truncar': True},
    {'id': 'usuario', 'nombre': 'Usuario'},
    {'id': 'fecha', 'nombre': 'Fecha'},
],
'acciones': [
],
'filtros': [
],
'crear': {
}
} %}

{{ tabla(configuracion, estados, cant_resultados, cant_paginas, pagina) }}

{% endblock %}