{% extends "layouts/base.html" %}
{% from "components/navbar_secundaria.html" import navbar_secundaria %}

{% block main %}

{{ navbar_secundaria({
'volver': url_for('contacto.listar'),
'tabs': [{'nombre': 'Datos', 'url': url_for('contacto.ver', id=consulta.id)},
        {'nombre': 'Historial de cambios', 'url': url_for('contacto.historial', id=consulta.id)}
]})}}

<div class="contenedor">
  <div class="contenedor-header">
    <h1> Detalles de la consulta </h1>
  </div>
  <div class="contenedor-body">
    <p><strong>Titulo:</strong> {{ consulta.titulo }}</p>
    <p><strong>Fecha:</strong> {{ consulta.fecha.strftime('%d/%m/%Y') }}</p>
    <p><strong>Mail:</strong> {{ consulta.email }}</p>
    <p><strong>Estado:</strong> {{ consulta.estado }}</p>
    {% if consulta.comentario %}
        <p><strong>Comentario:</strong> {{ consulta.comentario }}</p>
    {% endif %}
    
    <p class="text-gray-600 text-xs italic"> Puedes modificar el estado de la consulta en el siguiente formulario. </p>
    <p class="text-gray-600 text-xs italic"> Tambien puedes agregarle un comentario que describa el cambio. </p>
    <form novalidate method="POST" class="formulario">
      <div class="formulario-body">
        {{ form.hidden_tag() }}
      <div class="text-red-600">
          {{ form.estado.label }}
          {{ form.estado }}
          {% for error in form.estado.errors %}
          <span class="text-red-600">{{ error }}</span>
          {% endfor %}
      </div>
      <div class="text-red-600">
        {{ form.comentario.label }}
        {{ form.comentario }}
        {% for error in form.comentario.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
      </div>
      <div>
        {{ form.submit() }}
      </div>
      </div>
      </form>
  </div>
  
  
</div>

{% endblock %}